.completed > summary {
  color: grey;
}

details:not(.completed) > summary:not(:focus),
details[open]:not(.completed) > summary:not(:focus) {
  color: inherit;
}

details > summary ~ * {
  padding-left: 1rem;
  padding-right: 1rem;
}

label {
  text-transform: capitalize;
}
textarea {
  min-block-size: 4rem;
}
